body {
  padding: 50px;
  padding-top: 100px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

h1.logo {
	font-size: 60px;
	line-height: 80px;
	margin-bottom: 25px;
	text-align: center;
}

h1 small {
	display: block;
}

#message {
	text-align: center;
}

.form-inline input[type="text"] {
	margin-right: 5px;
}